[Unit]
Description=IR event tool to control mpd
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ir_event
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
