[Unit]
Description=Mechanical controls for mpd
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mechanical_controls
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
